#library {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 30px;
    min-height: 55vh;
}
.book {
    width: 130px;
    height: 220px;
    margin: 5px;
    margin-bottom: 10px;
    color: rgb(12, 77, 162);
    transition-duration: 500ms;
}
.book:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
    border-radius: 10px;
}
.book:active {
    transform: scale(0.5);
}
.bookImg {
    width: 100%;
}
.bookDesc {
    font-size: 0.7em;
    text-align: center;
    max-height: 2.5em;
    padding: 2px 4px;
}
@media only screen and (max-width: 1000px) {

    .book {
        width: 130px;
        margin: 10px;
    } 

}