* {
    margin: 0;
    padding: 0;
}
.menuBurger {
    display: none;
}
body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: background .15s linear;
}
header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100vw;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    align-items: center;
    transition-duration: 1600ms;
    box-sizing: border-box;
}
.logoLink {
    border-radius: 4px;
    position: relative;
    left: 30px;
}
.logoLink:hover {
    animation: rotateLogo 500ms linear;
}
@keyframes rotateLogo {
    50% {
        transform: rotateY(180deg);
    }
}
.logoHeader {
    height: 70px;
    padding: 7px;
    transition-duration: 900ms;
}
.language {
    position: relative;
    left: 50px;
    transition-duration: 300ms;
}
.menuItem:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.lang {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(12, 77, 162);
}
.menuHeader {
    display: flex;
    position: absolute;
    right: 50px;
    font-size: 1.5em;
}
.menuLink {
    text-decoration: none;
}
.menuItem {
    color: rgb(12, 77, 162);
    padding: 12px;
    padding-left: 40px;
    padding-left: 15px;
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    transition-duration: 500ms;
}
.menuItem:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.bgImg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition-duration: 1000ms;
}
.indexHeader {
    position: absolute;
    width: 100vw;
    top: 35vh;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 300;
    font-size: 3.1em;
    text-shadow: 0 0 5px rgb(13, 32, 56);
}
.linkBtn {
    position: relative;
    top: 50vh;
    padding: 17px;
    background-color: rgb(12, 77, 162);
    border-radius: 30px;
    color: rgb(255, 255, 255);
    font-size: 1.4em;
    text-decoration: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition-duration: 700ms;
}
.linkBtn:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}
#content {
    position: absolute;
    top: 120px;
    width: 100vw;
    display: flex;
	flex-direction: column;
	min-height: calc(100% - 105px);
}
@media only screen and (max-width: 1000px) {

    header {
        z-index: 999;
    }
    .linkBtn {
        position: relative;
        top: 58vh;
    }
    .menuHeader {
        right: 0px;
        top: -140vh;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 1);
        width: 100vw;
        height: calc(100vh - 50px);
        padding-top: 100px;
        z-index: 9999999;
        transition-duration: 500ms;
    }
    .menuItem {
        font-size: 1.4em;
        text-align: center;
        margin-bottom: 10px;
        color: rgb(12, 77, 162);
    }
    .menuItem:last-child {
        display: none;
    }
    .menuBurger {
        display: block;
        position: relative;
        left: 60vw;
        height: 50%;
        z-index: 999999999999999999999999999999999999999999999999999999999999999;
    }
    .language {
        left: 35px;
    }
}
